<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-nav-bar></app-nav-bar>
    <div class="app-main">
        <app-side-bar></app-side-bar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="row">
                    <div class="col-md-12">
<div id="content">
    <div id="main-panel">
        <div class="result-container" id="selectedSection">
          
        </div>

      
        <br>
        <hr>
        <div id="options">
            <span id="option-container">
                <i class="fas fa-print"></i>
                <small>Print</small>
            </span>
            

            <span id="option-container">
                <i class="fas fa-align-justify"></i>
                <small>TextArea</small>
            </span>


            <span id="option-container">
                <i class="fas fa-font"></i>
                <small>TextBox</small>
            </span>

            <span id="option-container">
                <i class="fas fa-key"></i>
                <small>Password</small>
            </span>
            

            <span id="option-container">
                <i class="fas fa-check-square"></i>
                <small>Checkbox</small>
            </span>


            <span id="option-container">
                <i class="fas fa-check-circle" ></i>
                <small>Radio</small>
            </span>
            

            <span id="option-container">
                <i class="far fa-caret-square-down"></i>
                <small>SelectList</small>
            </span>
        </div>
        <div>
            <label for="form-name">Form Name</label>
                <input type="text" id="form-name" class="form-control">
           <br>
            <p class="alert alert-danger myhide" id="form-name-error">
                Must choose the form name
            </p>
        </div>
        <div>
            <input type="button" class="btn btn-success" id="submit-btn" name="" value="Crear">
            <input type="button" class="btn btn-danger" id="reset-btn" name="" value="Reset" >
        </div>
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

