<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-nav-bar></app-nav-bar>
    <div class="app-main">
        <app-side-bar></app-side-bar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3 widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Usuarios</div>
                                        <!-- <div class="widget-subheading">Last year expenses</div> -->
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-success">{{totalUsersCount}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3 widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Formularios</div>
                                        <!-- <div class="widget-subheading">Revenue streams</div> -->
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-warning">{{totalFormsCount}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3 widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Organizaciones</div>
                                        <!-- <div class="widget-subheading">People Interested</div> -->
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-danger">2</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">
                            <div class="card-header">Ultimos Usuarios Registrados
                                <!-- <div class="btn-actions-pane-right">
                                    <!-- <div role="group" class="btn-group-sm btn-group">
                                        <button class="active btn btn-focus">Last Week</button>
                                        <button class="btn btn-focus">All Month</button>
                                    </div> 
                                </div> -->
                            </div>
                            <div class="table-responsive">
                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th class="text-center">Dirreccion</th>
                                            <th class="text-center">Estado</th>
                                            <th class="text-center">Detalles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-3">
                                                        
                                                        </div>
                                                        <div class="widget-content-left flex2">
                                                            <div class="widget-heading">Arash NP</div>
                                                            <div class="widget-subheading opacity-7">Web Developer</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">Bilbao</td>
                                            <td class="text-center">
                                                <div class="badge badge-success">active</div>
                                            </td>
                                            <td class="text-center">
                                                <button type="button" id="PopoverCustomT-1"
                                                    class="btn btn-primary btn-sm">Details</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-block text-center card-footer">
                                <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i
                                        class="pe-7s-trash btn-icon-wrapper"> </i></button>
                                <button class="btn-wide btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>